// File generated from our OpenAPI spec by Stainless. See CONTRIBUTING.md for details.

import { APIResource } from '../resource';
import { isRequestOptions } from '../core';
import * as Core from '../core';
import * as BulkResultsAPI from './bulk-results';
import * as ExpectedPaymentsAPI from './expected-payments';
import * as LedgerTransactionsAPI from './ledger-transactions/ledger-transactions';
import * as PaymentOrdersAPI from './payment-orders/payment-orders';
import * as TransactionsAPI from './transactions/transactions';
import { Page, type PageParams } from '../pagination';

export class BulkResults extends APIResource {
  /**
   * get bulk_result
   */
  retrieve(id: string, options?: Core.RequestOptions): Core.APIPromise<BulkResult> {
    return this._client.get(`/api/bulk_results/${id}`, options);
  }

  /**
   * list bulk_results
   */
  list(
    query?: BulkResultListParams,
    options?: Core.RequestOptions,
  ): Core.PagePromise<BulkResultsPage, BulkResult>;
  list(options?: Core.RequestOptions): Core.PagePromise<BulkResultsPage, BulkResult>;
  list(
    query: BulkResultListParams | Core.RequestOptions = {},
    options?: Core.RequestOptions,
  ): Core.PagePromise<BulkResultsPage, BulkResult> {
    if (isRequestOptions(query)) {
      return this.list({}, query);
    }
    return this._client.getAPIList('/api/bulk_results', BulkResultsPage, { query, ...options });
  }
}

export class BulkResultsPage extends Page<BulkResult> {}

export interface BulkResult {
  id: string;

  created_at: string;

  /**
   * An object with type as indicated by `entity_type`. This is the result object
   * that is generated by performing the requested action on the provided input
   * `request_params`.
   */
  entity:
    | PaymentOrdersAPI.PaymentOrder
    | ExpectedPaymentsAPI.ExpectedPayment
    | LedgerTransactionsAPI.LedgerTransaction
    | TransactionsAPI.Transaction
    | BulkResult.BulkError;

  /**
   * Unique identifier for the result entity object.
   */
  entity_id: string;

  /**
   * The type of the result entity object. For a successful bulk result, this is the
   * same as the `resource_type` of the bulk request. For a failed bulk result, this
   * is always bulk_error
   */
  entity_type: 'payment_order' | 'ledger_transaction' | 'transaction' | 'expected_payment' | 'bulk_error';

  /**
   * This field will be true if this object exists in the live environment or false
   * if it exists in the test environment.
   */
  live_mode: boolean;

  object: string;

  /**
   * Unique identifier for the request that created this bulk result. This is the ID
   * of the bulk request when `request_type` is bulk_request
   */
  request_id: string;

  /**
   * An optional object that contains the provided input params for the request that
   * created this result. This is an item in the `resources` array for the
   * bulk_request
   */
  request_params: Record<string, string> | null;

  /**
   * The type of the request that created this result. bulk_request is the only
   * supported `request_type`
   */
  request_type: 'bulk_request';

  /**
   * One of successful or failed.
   */
  status: 'pending' | 'successful' | 'failed';

  updated_at: string;
}

export namespace BulkResult {
  export interface BulkError {
    id: string;

    created_at: string;

    /**
     * This field will be true if this object exists in the live environment or false
     * if it exists in the test environment.
     */
    live_mode: boolean;

    object: string;

    request_errors: Array<BulkError.RequestError>;

    updated_at: string;
  }

  export namespace BulkError {
    export interface RequestError {
      code?: string;

      message?: string;

      parameter?: string;
    }
  }
}

export interface BulkResultListParams extends PageParams {
  /**
   * Unique identifier for the result entity object.
   */
  entity_id?: string;

  /**
   * The type of the request that created this result. bulk_request is the only
   * supported `request_type`
   */
  entity_type?: 'payment_order' | 'ledger_transaction' | 'transaction' | 'expected_payment' | 'bulk_error';

  /**
   * Unique identifier for the request that created this bulk result. This is the ID
   * of the bulk request when `request_type` is bulk_request
   */
  request_id?: string;

  /**
   * The type of the request that created this result. bulk_request is the only
   * supported `request_type`
   */
  request_type?: 'bulk_request';

  /**
   * One of successful or failed.
   */
  status?: 'pending' | 'successful' | 'failed';
}

export namespace BulkResults {
  export type BulkResult = BulkResultsAPI.BulkResult;
  export import BulkResultsPage = BulkResultsAPI.BulkResultsPage;
  export type BulkResultListParams = BulkResultsAPI.BulkResultListParams;
}
