// File generated from our OpenAPI spec by Stainless. See CONTRIBUTING.md for details.

import { APIResource } from '../core/resource';
import * as ExpectedPaymentsAPI from './expected-payments';
import * as LedgerAccountsAPI from './ledger-accounts';
import * as LedgerTransactionsAPI from './ledger-transactions/ledger-transactions';
import * as PaymentOrdersAPI from './payment-orders/payment-orders';
import * as TransactionsAPI from './transactions/transactions';
import { APIPromise } from '../core/api-promise';
import { Page, type PageParams, PagePromise } from '../core/pagination';
import { RequestOptions } from '../internal/request-options';
import { path } from '../internal/utils/path';

export class BulkResults extends APIResource {
  /**
   * get bulk_result
   */
  retrieve(id: string, options?: RequestOptions): APIPromise<BulkResult> {
    return this._client.get(path`/api/bulk_results/${id}`, options);
  }

  /**
   * list bulk_results
   */
  list(
    query: BulkResultListParams | null | undefined = {},
    options?: RequestOptions,
  ): PagePromise<BulkResultsPage, BulkResult> {
    return this._client.getAPIList('/api/bulk_results', Page<BulkResult>, { query, ...options });
  }
}

export type BulkResultsPage = Page<BulkResult>;

export interface BulkResult {
  id: string;

  created_at: string;

  /**
   * An object with type as indicated by `entity_type`. This is the result object
   * that is generated by performing the requested action on the provided input
   * `request_params`.
   */
  entity:
    | PaymentOrdersAPI.PaymentOrder
    | ExpectedPaymentsAPI.ExpectedPayment
    | LedgerTransactionsAPI.LedgerTransaction
    | LedgerAccountsAPI.LedgerAccount
    | TransactionsAPI.Transaction
    | BulkResult.BulkError;

  /**
   * Unique identifier for the result entity object.
   */
  entity_id: string;

  /**
   * The type of the result entity object. For a successful bulk result, this is the
   * same as the `resource_type` of the bulk request. For a failed bulk result, this
   * is always bulk_error
   */
  entity_type:
    | 'payment_order'
    | 'ledger_account'
    | 'ledger_transaction'
    | 'expected_payment'
    | 'transaction'
    | 'entity_link'
    | 'transaction_line_item'
    | 'bulk_error';

  /**
   * This field will be true if this object exists in the live environment or false
   * if it exists in the test environment.
   */
  live_mode: boolean;

  object: string;

  /**
   * Unique identifier for the request that created this bulk result. This is the ID
   * of the bulk request when `request_type` is bulk_request
   */
  request_id: string;

  /**
   * An optional object that contains the provided input params for the request that
   * created this result. This is an item in the `resources` array for the
   * bulk_request
   */
  request_params: { [key: string]: string } | null;

  /**
   * The type of the request that created this result. bulk_request is the only
   * supported `request_type`
   */
  request_type: 'bulk_request';

  /**
   * One of successful or failed.
   */
  status: 'pending' | 'successful' | 'failed';

  updated_at: string;
}

export namespace BulkResult {
  export interface BulkError {
    id: string;

    created_at: string;

    /**
     * This field will be true if this object exists in the live environment or false
     * if it exists in the test environment.
     */
    live_mode: boolean;

    object: string;

    request_errors: Array<BulkError.RequestError>;

    updated_at: string;
  }

  export namespace BulkError {
    export interface RequestError {
      code?: string;

      message?: string;

      parameter?: string;
    }
  }
}

export interface BulkResultListParams extends PageParams {
  /**
   * Unique identifier for the result entity object.
   */
  entity_id?: string;

  /**
   * The type of the request that created this result. bulk_request is the only
   * supported `request_type`
   */
  entity_type?:
    | 'payment_order'
    | 'ledger_account'
    | 'ledger_transaction'
    | 'expected_payment'
    | 'transaction'
    | 'entity_link'
    | 'transaction_line_item'
    | 'bulk_error';

  /**
   * Unique identifier for the request that created this bulk result. This is the ID
   * of the bulk request when `request_type` is bulk_request
   */
  request_id?: string;

  /**
   * The type of the request that created this result. bulk_request is the only
   * supported `request_type`
   */
  request_type?: 'bulk_request';

  /**
   * One of successful or failed.
   */
  status?: 'pending' | 'successful' | 'failed';
}

export declare namespace BulkResults {
  export {
    type BulkResult as BulkResult,
    type BulkResultsPage as BulkResultsPage,
    type BulkResultListParams as BulkResultListParams,
  };
}
